.evenodd_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul > li:nth-of-type(even) {
  background-color: blue;
}
ul > li:nth-of-type(odd) {
  background-color: red;
}
