.feedbacksafetymeasure_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  min-height: 80vh;
}
.feedbacksafetymeasure_container::after {
  content: "";
  /* flex: auto; */
  width: 20rem;
}
.feedback_submit_button {
  height: 2rem;
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  margin: 1rem auto;
  margin-left: 50%;
  color: var(--theme-color);
  transform: translate(-50%);
}
.feedback_submit_button:hover {
  opacity: 0.9;
  transition: all 0.2s;
}
@media screen and (max-width: 800px) {
  .feedbacksafetymeasure_container::after {
    width: 10rem;
  }
}
